pandas==2.0.3
kafka-python==2.0.2
requests
scikit-surprise==1.1.3
tensorflow==2.8.0
flask==2.0.1
gunicorn
prometheus-flask-exporter
mlflow==2.17.2
Werkzeug==2.0.1
matplotlib==3.7.5
prometheus_client==0.15.0
scikit-learn==1.1.3
joblib==1.3.2
numpy==1.24.3
protobuf==3.20.3
pytest
zeno
